<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Benchmarking{% endblock %}</title>

    {# On charge le CSS de bootstrap depuis le site directement #}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css">

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    {% stylesheets 'bundles/benchmarking/css/simple-user.css' filter='cssrewrite, scssphp'%}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}

    {% block stylesheets %}
    {% endblock %}

</head>

<body>

    <nav class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle navbar-toggle-sidebar collapsed">
                    MENU
                </button>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('benchmarking_homepage') }}">Outil de benchmarking IHM</a>
            </div><!-- /.navbar-header -->

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="{{ path('vehicules') }}" class="">Liste des véhicules</a></li>
                        <li class=""><a href="{{ path('vehicule_recherche') }}" class="">Rechercher des véhicules</a></li>
                        <li class=""><a href="#" class="">Comparer des véhicules</a></li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li class=""><a href="{{ path('admin_homepage') }}" target="_blank"><span class="glyphicon glyphicon-lock"></span> Administration</a></li>
                    </ul>
                </div>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>


    <div class="container-fluid main-container">
        <div class="col-md-2 sidebar">
            {% block side_menu %}
                <div class="row">
                    <!-- uncomment code for absolute positioning tweek see top comment in css -->
                    <div class="absolute-wrapper"> </div>
                    <!-- Menu -->
                    <div class="side-menu">
                        <nav class="navbar navbar-default" role="navigation">
                            <!-- Main Menu -->
                            <div class="side-menu-container">
                                <ul class="nav navbar-nav">
                                    <li class="panel panel-default" id="dropdown">
                                        <a data-toggle="collapse" href="#derniersAjouts">
                                            <span class="glyphicon glyphicon-th-large"></span>Derniers ajouts <span class="caret"></span>
                                        </a>
                                        <div id="derniersAjouts" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <ul class="nav navbar-nav">
                                                    {#{{ render(controller("BenchmarkingBundle:Vehicule:menu", {'limit': 3})) }}#}
                                                </ul>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="panel panel-default" id="dropdown">
                                        <a data-toggle="collapse" href="#vehicules">
                                            <span class="glyphicon glyphicon-road"></span>Véhicules <span class="caret"></span>
                                        </a>
                                        <div id="vehicules" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <ul class="nav navbar-nav">
                                                    <li><a href="{{ path('vehicules') }}">Liste des véhicules</a></li>
                                                    <li><a href="{{ path('vehicule_recherche') }}">Rechercher un véhicule</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div><!-- /.side-menu-container -->
                        </nav>
                    </div><!-- /.side-menu -->
                </div><!-- /.row -->
            {% endblock %}
        </div><!-- /.col-md-2 sidebar -->




        <div class="col-md-10 content">
            <div class="panel panel-default">
                {% block benchmarking_body %}

                {% endblock %}
            </div>
        </div>

        <footer class="pull-left footer">
            <p class="col-md-12">
            <hr class="divider">
            Copyright &COPY; 2016 <a href="#">UET Système IHM Innovants</a>
            </p>
        </footer>
    </div>


    {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    {% javascripts 'bundles/admin/js/simple-admin.js' filter='jsqueeze' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% block javascripts %}
    {% endblock %}


</body>
</html>
