{# src/BenchmarkingBundle/Resources/view/Default/BoiteVitesse/delete.html.twig #}

{% extends "AdminBundle::layout.html.twig" %}

{% block title %}
  Supprimer une boîte à vitesse - {{ parent() }}
{% endblock %}

{% block admin_body %}

  <div class="panel-heading">
    <h4 class="panel-title">Supprimer une boîte à vitesse</h4>
  </div>

  <div class="panel-body">
    <p class="alert alert-danger">
      Etes-vous certain de vouloir supprimer la boîte à vitesse "{{ boiteVitesse.nom }}" ?
    </p>

    {# On met l'id  dans la route de l'action du formulaire #}
    <form action="{{ path('boiteVitesse_delete', {'id': boiteVitesse.id}) }}" method="post">
      <a href="{{ path('boiteVitesse_view', {'id': boiteVitesse.id}) }}" class="btn btn-default">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Retour à la boîe à vitesse
      </a>
      {# Ici j'ai écrit le bouton de soumission à la main #}
      <input type="submit" value="Supprimer" class="btn btn-danger" />
      {# Ceci va générer le champ CSRF #}
      {{ form_rest(form) }}
    </form>

  </div>

{% endblock %}