{# src/BenchmarkingBundle/Resources/views/Default/Vehicule/form.html.twig #}

<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title"> Informations générales</h4>
    </div>

    <div class="panel-body">

        {{ form(form) }}

        {{  form_row(form.composantsAffichage) }}
        <a href="#" id="add_composantAffichage" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> Ajouter un composant</a>

        {{  form_row(form.fonctions) }}
        <a href="#" id="add_fonction" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> Ajouter une fonction</a>

        {{ form_rest(form) }}

        {{form_row(form.enregistrer) }}


    </div>


</div>







