{# src/BenchmarkingBundle/Resources/view/Default/Vehicule/index.html.twig #}

{% extends "::layout/layout.html.twig" %}

{% block title %}
    Liste des véhicules - {{ parent() }}
{% endblock %}

{% block stylesheets %}
    <style type="text/css">
        .btn-product{
            width: 100%;
        }
    </style>


{% endblock %}

{% block side_menu %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">Filtres</h4>
        </div>
        <div class="panel-body">

        </div>
    </div>

{% endblock %}



{% block benchmarking_body %}

    {% for flashMessage in app.session.flashbag.get('info') %}

        <p class="alert alert-info">
            {{ flashMessage }}
        </p>

    {% endfor %}

    <div class="panel-heading">
        <h2 class="panel-title">Liste des véhicules</h2>
    </div>

    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">

                {% for vehicule in listVehicules %}

                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail panel panel-default" >


                            {% if vehicule.image is not null %}
                                <img src="{{asset(vehicule.image.webPath)}}" alt="{{ vehicule.image.alt }}" class="img-responsive">
                            {% endif %}

                            <div class="caption">
                                <div class="row panel-heading">
                                    <div class="col-md-12 col-xs-6 ">
                                        <h3 class="panel-title">{{ vehicule.marque.nom }} {{ vehicule.nom }}</h3>
                                    </div>
                                </div>

                                <div class="panel-body">
                                    <p>Segment: {{ vehicule.segment.nom }}</p>
                                    <p>Motorisation: {{ vehicule.motorisation.nom }}</p>
                                    <p>Boîte à Vitesse: {{ vehicule.boiteVitesse.nom }}</p>
                                    <p>Ajouté le: {{ vehicule.date|date('d/m/Y') }}</p>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <a href="{{ path('vehicule_view', {'id': vehicule.id}) }}" class="btn btn-primary btn-product"><span class=""></span> Détails </a>
                                        </div>
                                        <div class="col-md-6">
                                            <a href="#" class="btn btn-success btn-product"><span class=""></span> Comparer </a></div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                {% else %}
                    <li class="alert alert-info">Aucune voiture n'a encore été ajoutée</li>
                {% endfor %}


            </div>

        </div>
        <a href="{{ path('vehicule_add') }}" class="btn btn-default">
            <i class="glyphicon glyphicon-plus"></i>
            Ajouter un véhicule
        </a>

        <ul class="pagination">
            {# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}
            {% for p in range(1, nbPages) %}
                <li{% if p == page %} class="active"{% endif %}>
                    <a href="{{ path('vehicules', {'page': p}) }}">{{ p }}</a>
                </li>
            {% endfor %}
        </ul>

    </div>

{% endblock %}
