{# src/BenchmarkingBundle/Resources/view/Default/Vehicule/index.html.twig #}

{% extends "::layout/layout.html.twig" %}

{% block title %}
    {{ vehicule.marque.nom }} {{ vehicule.nom }} - {{ parent() }}
{% endblock %}

{% block stylesheets %}
    <style type="text/css">
        .btn-product{
            width: 100%;
        }
    </style>

{% endblock %}



{% block benchmarking_body %}

    {% for flashMessage in app.session.flashbag.get('info') %}

        <p class="alert alert-info">
            {{ flashMessage }}
        </p>

    {% endfor %}

    <div class="panel-heading">
        <h2 class="panel-title">{{ vehicule.marque.nom }} {{ vehicule.nom }}</h2>
    </div>

    <div class="panel-body">
        <div class="container-fluid">
            <div class="content-wrapper">
                <div class="item-container">
                    <div class="container">
                        <div class="col-md-5  col-sm-6 col-xs-6 thumbnail">
                            {% if vehicule.image is not null %}
                                <img src="{{asset(vehicule.image.webPath)}}" alt="{{ vehicule.image.alt }}" class="img-responsive">
                            {% endif %}
                        </div><!--col-md-4 col-sm-6 col-xs-6-->


                        <div class="col-md-3 col-md-offset-1">
                            <div class="product-title">{{ vehicule.marque.nom }} {{ vehicule.nom }}</div>

                            <hr>

                            <div class="btn-group cart">
                                <button type="button" class="btn btn-success">
                                    Ajouter pour comparer
                                </button>
                            </div>

                            <p>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <a href="{{ path('vehicule_delete', {'id': vehicule.id}) }}"><button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Supprimé le véhicule</button></a>
                                {% endif %}
                            </p>


                        </div>
                    </div>
                </div>

                <div class="container-fluid ">
                        <ul id="myTab" class="nav nav-tabs nav_tabs">

                            <li class="active"><a href="#service-one" data-toggle="tab">DESCRIPTION</a></li>
                            <li><a href="#service-two" data-toggle="tab">COMPOSANTS</a></li>
                            <li><a href="#service-three" data-toggle="tab">FONCTIONS</a></li>

                        </ul>
                        <div id="myTabContent" class="tab-content">
                            <div class="tab-pane fade in active" id="service-one">

                                <section class="container">

                                    <h4>Informations générales</h4>
                                    <table class="col-md-7 table-bordered table-striped table-condensed ">
                                        <tbody>
                                        <tr>
                                            <th>Marque</th>
                                            <td>{{ vehicule.marque.nom }}</td>
                                        </tr>
                                        <tr>
                                            <th>Modèle</th>
                                            <td>{{ vehicule.nom }}</td>
                                        </tr>
                                        <tr>
                                            <th>Année</th>
                                            <td>{{ vehicule.annee }}</td>
                                        </tr>

                                        <tr>
                                            <th>Segment</th>
                                            <td>{{ vehicule.segment.nom }}</td>
                                        </tr>
                                        <tr>
                                            <th>Boîte Vitesse</th>
                                            <td>{{ vehicule.boiteVitesse.nom }}</td>
                                        </tr>
                                        <tr>
                                            <th>Motorisation</th>
                                            <td>{{ vehicule.motorisation.nom }}</td>
                                        </tr>
                                        <tr>
                                            <th>Ajouté le</th>
                                            <td>{{ vehicule.date|date('d/m/Y') }}</td>
                                        </tr>

                                        </tbody>
                                    </table>
                                </section>

                            </div>
                            <div class="tab-pane fade" id="service-two">

                                <section class="container">
                                    <h4>Liste des composants</h4>

                                    <table class="col-md-7 table-bordered table-striped table-condensed ">

                                        {% for composant in vehicule.composantsAffichage %}
                                            <tbody>
                                                <tr >
                                                    <th colspan="2">{{ composant.nomAfficheur.nom }}</th>
                                                </tr>
                                                {% if composant.nomAfficheur.nom  == "Tableau de bord" %}
                                                <tr>
                                                    <td>Type TdB</td>
                                                    <td>{{ composant.typeTdB.nom }}</td>
                                                </tr>
                                                {% endif %}
                                                <tr>
                                                    <td>Technologie afficheur</td>
                                                    <td>{{ composant.technologieAfficheur.nom }}</td>
                                                </tr>
                                                <tr>
                                                    <td>Sous technologie afficheur</td>
                                                    <td>{{ composant.sousTechnologieAfficheur.nom }}</td>
                                                </tr>

                                                <tr>
                                                    <td>Taille écran</td>
                                                    <td>{{ composant.tailleEcran.taille }}</td>
                                                </tr>
                                                <tr>
                                                    <td>Format écran</td>
                                                    <td>{{ composant.formatEcran.format }}</td>
                                                </tr>
                                            </tbody>
                                        {% endfor %}
                                    </table>
                                </section>

                            </div>
                            <div class="tab-pane fade" id="service-three">

                                <section class="container">
                                    <h4>Liste des fonctions</h4>
                                    <table class="col-md-7 table-bordered table-striped table-condensed ">
                                        {% for fonction in vehicule.fonctions %}
                                            <tbody>
                                            <tr >
                                                <th colspan="2">{{ fonction.nomFonction.nom }}</th>
                                            </tr>

                                            <tr>
                                                <td>Activation logique</td>
                                                {% if fonction.activationLogique is not null %}
                                                    <td>Oui</td>
                                                {% else %}
                                                    <td>Non</td>
                                                {% endif %}
                                            </tr>
                                            <tr>
                                                <td>Activation physique</td>
                                                {% if fonction.activationPhysique is not null %}
                                                    <td>Oui</td>
                                                {% else %}
                                                    <td>Non</td>
                                                {% endif %}
                                            </tr>

                                            <tr>
                                                <td>Retour Activation</td>
                                                {% if fonction.retourActivation is not null%}
                                                    <td><span class="glyphicon glyphicon-ok"></span></td>
                                                {% else %}
                                                    <td>Non</td>
                                                {% endif %}
                                            </tr>


                                            </tbody>
                                        {% endfor %}


                                    </table>

                                </section>


                            </div>
                        </div>
                        <hr>
                </div>
            </div>
        </div>

    </div>

{% endblock %}
