{# src/BenchmarkingBundle/Resources/view/Default/AfficheurExistant/delete.html.twig #}

{% extends "::layout/layout.html.twig" %}

{% block title %}
  Supprimer un afficheur - {{ parent() }}
{% endblock %}

{% block benchmarking_body %}

  <h2>Supprimer un afficheur</h2>

  <p class="alert alert-danger">
    Etes-vous certain de vouloir supprimer l'afficheur "{{ afficheur.nom }}" ?
  </p>

  {# On met l'id dans la route de l'action du formulaire #}
  <form action="{{ path('afficheur_delete', {'id': afficheur.id}) }}" method="post">
    <a href="{{ path('afficheur_view', {'id': afficheur.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à l'afficheur
    </a>
    {# Ici j'ai écrit le bouton de soumission à la main #}
    <input type="submit" value="Supprimer" class="btn btn-danger" />
    {# Ceci va générer le champ CSRF #}
    {{ form_rest(form) }}
  </form>

{% endblock %}