{# src/BenchmarkingBundle/Resources/view/Default/Localisation/delete.html.twig #}

{% extends "::layout/layout.html.twig" %}

{% block title %}
  Supprimer une localisation - {{ parent() }}
{% endblock %}

{% block benchmarking_body %}

  <h2>Supprimer une localisation</h2>

  <p class="alert alert-danger">
    Etes-vous certain de vouloir supprimer la localisation "{{ localisation.nom }}" ?
  </p>

  {# On met l'id dans la route de l'action du formulaire #}
  <form action="{{ path('localisation_delete', {'id': localisation.id}) }}" method="post">
    <a href="{{ path('localisation_view', {'id': localisation.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à la localisation
    </a>
    {# Ici j'ai écrit le bouton de soumission à la main #}
    <input type="submit" value="Supprimer" class="btn btn-danger" />
    {# Ceci va générer le champ CSRF #}
    {{ form_rest(form) }}
  </form>

{% endblock %}