{# src/BenchmarkingBundle/Resources/view/Default/Localisation/view.html.twig #}

{% extends "::layout/layout.html.twig" %}

{% block title %}
  Lecture d'une localisation - {{ parent() }}
{% endblock %}

{% block benchmarking_body %}

    {% for flashMessage in app.session.flashbag.get('info') %}

        <p class="alert alert-info">
            {{ flashMessage }}
        </p>

    {% endfor %}

  <h2>{{ localisation.nom }}</h2>

    <p>
        <a href="{{ path('localisations') }}" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Retour à la liste
        </a>
        <a href="{{ path('localisation_edit', {'id': localisation.id}) }}" class="btn btn-default">
            <i class="glyphicon glyphicon-edit"></i>
            Modifier la localisation
        </a>
        <a href="{{ path('localisation_delete', {'id': localisation.id}) }}" class="btn btn-danger">
            <i class="glyphicon glyphicon-trash"></i>
            Supprimer la localisation
        </a>
    </p>


{% endblock %}
